@page "/"
@inherits EmployeeListBase

<h3>Seclected Employee Count - @SelectedEmployeeCount</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Show Footer</label>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card flex-row">

        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
        }
    </div>
}

